body{
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    font-family: "Roboto Light", sans-serif;
}
body *{
    display: flex;
    box-sizing: border-box;
}
#App{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header{
    height: 50px;
    padding: 18px;
    justify-content: space-between;
}
#header-username{
    font-weight: 600;
}
#settings{
    flex-direction: column;
    height: 20px;
}
#settings div{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 1px 0;
}
main{
    flex-direction: column;
}
#user-data{
    flex-direction: column;
}
#avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}
#main-username{
    align-self: center;
    font-weight: 600;
    margin-top: 10px;
}
#metrics{
    justify-content: space-between;
    width: 60%;
    align-self: center;
    margin-top: 16px;
}
#metrics .cell{
    flex-direction: column;
}
#metrics .cell div{
    align-self: center;
    font-weight: 600;
}
#metrics .cell p{
    font-size: 14px;
    margin: 0;
}
#navigation{
    margin-top: 30px;
    width: 220px;
    height: 38px;
    align-self: center;
}
#profile-edit{
    border-radius: 3px;
    border: 2px black solid;
    font-size: 14px;
    padding-bottom: 4px;
    width: 170px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#likes{
    border-radius: 3px;
    margin-left: 3px;
    height: 38px;
    width: 40px;
    border: 2px black solid;
    justify-content: center;
}
#likes img {
    width: 61%;
    align-self: center;
    justify-self: center;
}
#description{
    margin-top: 9px;
    justify-content: center;
}
#description p{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 300px;
}

#sections{
    border-top: 1px lightgrey solid;
    margin-top: 20px;
    justify-content: space-around;
}
.section{
    width: 30px;
    height: 20px;
    margin: 5px 0;
}
.section img{
    height: 100%;
}
footer{
    position: absolute;
    top: 600px;
    justify-content: space-around;
    width: 100%;
    height: 55px;
}
.footer-item{
    height: 100%;
    width: 27px;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-item img{
    width: 20px;
    margin-bottom: 4px;
}
.plus{
    background-color: black;
    height: 28px;
    width: 45px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 30%;
}
